/*Project variables*/

:root {
  --primary-background-color: #222222;
  --secondary-background-color: #6f5643;
  --color1: #cc6b49;
  --color2: #d2a24c;
  --color3: #ece6c2;
  --color4: #73bda8;
  --white: #ffffff;
  --black: #000;
}
